
//font-family
$family-roboto : 'Roboto', sans-serif;
$family-helvetica: "Helvetica", Helvetica, Arial, sans-serif;

//colors
$black : #000;
$black1 : #14171A;

$white : #F2F2F2;

$blue :  #1DA1F2;

$gray : #657786;
$gray2 : #6E7F8D;